header {
  margin-bottom: 16px;
}

.image_socials_block {
  width: 300px;
  height: 349px;
  margin: 0 auto;
}

.text {
  color: black;
}

.socials {
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
