@import "./variables/fonts";
@import "./variables/colors";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont, sans-serif;
  color: $fontColor;
  text-decoration: none;
  list-style-type: none;
  background-color: $backgroundColor;
}

html {
  font-size: 100%;
}
